<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/general.css"/>

</head>
<body>

    <div id="graphApp">
        <div id="menu">
            <ul>
                <li><a href="/index.html">Browse</a></li>
                <li><a href="/watchers.html">Watchers</a></li>
                <li><a href="/graph.html">Graph</a></li>
                <li><a href="/about.html">About</a></li>
            </ul>
        </div>

        <h2>Department
            <select v-model="selectedDept">
                <option v-for="option in departments" :value="option">
                    {{ option.name }}
                </option>
            </select>
        </h2>

        <div id="chartContainer" style="height: 500px; width: 100%;"></div>
    </div>

    <!--Load controlling code development -->
    <script src="scripts/graph.js"></script>
</body>